/* Styles go here */
* {
  margin: 0;
  box-sizing: border-box;
}

.main-header {
  display: none;
}

.logo {
  height: 40px;
  width: 40px;
}

.nav-container {
  width: 1200px;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav-list {
  display: flex;
  list-style: none;
  gap: 20px ;
}

.nav-item {
  text-transform: uppercase;
  text-decoration: none;
  align-items: flex-end;
  font-size: 12px;
  padding-bottom: 19px;
  padding-top: 19px;
}

.nav-link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding-bottom: 10px;
  padding-top: 10px;
}

.nav-link:hover {
  color: #00acdc;
}

.nav-link:focus {
  border-bottom: 3px solid  #00acdc;
  color: #00acdc;
}

.is-active::after {
  border-bottom: 3px solid  #00acdc;
  color: #00acdc;
}

/* .nav-item.is-active {
  border-bottom: 3px solid  #00acdc;
  color: #00acdc;
} */

@media (max-width: 1200px) {
  .nav-container {
    width: 1024px;
  }
}
